
@model IEnumerable<Classes>


<div class="row mb-4">
    <div class="col-6">
        <h2 class="m-0">Classes</h2>
    </div>

    <div class="col-6 admin-add">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="AddClass">Add Class</a>
    </div>
</div>

<div class="row">

    <div class="col-12">

        <table class="table table-bordered" id="GradeTable">

            <thead>
                <tr>
                    <th>Class</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var cls in Model)
                {
                    <tr>
                        <td>@cls.ClassName</td>
                        <td>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="EditClass" asp-route-id="@cls.ClassId">Edit</a>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Admin" asp-action="DeleteClass" asp-route-id="@cls.ClassId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>
