
@model ProgramDetail

<form method="post">
    <input type="hidden" asp-for="ProgramId" />
    <label asp-for="ProgramName">Program Name</label>
    <input asp-for="ProgramName" class="form-control" disabled/>
    <span asp-validation-for="ProgramName" class="text-danger"></span>

    <button type="submit" class="btn btn-danger">Delete</button>

</form>

@section scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}